# Entorno virtual de Python
.venv/

# Variables de entorno y credenciales
.env

# Archivos generados por Python
__pycache__/
*.pyc

# Configuración local de VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db